@font-face {
    font-family: "IBM";
    src: url("./assets/ibm_vga_8x16.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background:url('./assets/img/bg.jpg') rgb(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    color: lime;
    font-family: "IBM";
}

ul {
    background: #3c3c3c;
    font-size: 0;
}

li {
    display: inline-block;
    font-size: 1rem;
    padding: 3px 0;
}

li a {
    font-weight: bold;
    text-decoration: none;
    color: lime;
    padding: 10px 10px 3px 10px;
    font-family: 'Source Code Pro', monospace;
    font-size: 13px;
}
li:hover {
    background: #696969;
}
a img {
    width: 14px;
    height: 14px;
    vertical-align: bottom;
    padding-right: 0.55rem;
    padding-bottom: 1px;
}
.delimeter {
    color: gray;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    font-family: sans-serif;
}

.profile {
    margin: 3% 5%;
    display: flex;
}

.avatar img {
    width: 300px;
    border-radius: 7%;
    transition: all 400ms ease; 
}
.avatar img:hover {
    box-shadow: 0px 0px 27px rgb(255, 145, 0);
    transition: all 200ms ease; 
}
.about {
    margin: 0 50px;
    margin-right: 7%;
    width: 45%;
}
.links {
    font-size: 1.2rem;
}

.cyberfox {
    display: flex;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 20px;
}
.fox {
    margin: 0% auto;
}

a {
	color: orange;
	text-decoration: none;
	}
a:hover 
{
	color:orange; 
	text-decoration:none; 
	cursor:pointer;  
	}
	
.white {
	color: white;
	}
	
.grass {
	color: lime;
	}
	
.lapk {
	color: gray;
	}