@font-face {
    font-family: "IBM";
    src: url("./assets/ibm_vga_8x16.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background:url('./assets/img/bg.jpg') rgba(0, 0, 0, 0.473);
    background-blend-mode: multiply;
    color: rgba(0, 255, 0, 0.877);
    font-family: "IBM";
}

ul {
    background: #3c3c3c;
    font-size: 0;
}

li {
    display: inline-block;
    font-size: 1rem;
    padding: 3px 0;
}

li a {
    font-weight: bold;
    text-decoration: none;
    color: lime;
    padding: 10px 10px 3px 10px;
    font-family: 'Source Code Pro', monospace;
    font-size: 13px;
}

li a:hover {
    color: lime;
}

li:hover {
    background: #696969;
}

a img {
    width: 14px;
    height: 14px;
    vertical-align: bottom;
    padding-right: 0.55rem;
    padding-bottom: 1px;
}

.delimeter {
    color: gray;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    font-family: sans-serif;
}

a {
	color: rgb(0, 166, 255);
	text-decoration: none;
}

a:hover {
	color:rgb(0, 217, 255); 
	text-decoration:none;
}



/* === profile === */

.profile {
    margin-top: 3%;
}

.firstLine {
    display: flex;
    /* border: 1px solid lime; */
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 1%;
}

.contacts {
    margin: 20px 20px;
}

.projects div {
    margin-bottom: 3px;
}

.avatar img {
    max-height: 300px;
    border-radius: 7%;
    transition: all 400ms ease;
}

.avatar img:hover {
    box-shadow: 0px 0px 27px rgb(255, 145, 0);
    transition: all 200ms ease; 
}

.about {
    margin: 10px 50px;
    margin-right: 3%;
    min-width: 400px;
    flex: 2;
}

.bio {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1rem;
}

.menu {
    margin-top: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    min-width: 300px;
    flex: 1;
}

.secondLine {
    display: flex;
    margin: 0% 5%;
}

.links {
    font-size: 1.2rem;
    min-width: 300px;
}



/* === fox === */

.cyberfox {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}
.fox {
    margin: 0% auto;
}

.cyberfox a {
	color: orange;
	text-decoration: none;
}
	
.white {
	color: white;
}
	
.grass {
	color: lime;
}
	
.lapk {
	color: gray;
}