html, body {
    margin: 5px;
    padding: 0;
  }

  .map {
    width: 80%;
    height: 90vh;
  }
  .table {
    width: 100px;
    height: 100px;
    font-size: 10px;
  }
  .text {
    width: 500px;
    color: red;
    font-size: 30px;
  }
  .photo {
    width: 150px;
    height: 150px;
  }